<a href="https://colab.research.google.com/github/niyasnasmal8-jpg/ict_assignments/blob/main/assignment01_nasmal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

In [ ]:

a=float(input("enter the price of item 1"))
b=int(input("enter the quantity of item 1"))
c=float(input("enter the price of item 2"))
d=int(input("enter the quantity of item 2"))
cost1=a*b
cost2=c*d
total=cost1+cost2
print("total bill is",total)

enter the price of item 145
enter the quantity of item 13
enter the price of item 230
enter the quantity of item 22
total bill is 195.0

2.

In [ ]:

c=int(input("enter the tempreture in celcius: "))
fahrenheit = (c*9/5)+32
print("tempreture in fahrenheit" ,fahrenheit)

enter the tempreture in celcius: 22
tempreture in fahrenheit 71.6

3.

In [ ]:

salary =int(input("enter your salary"))
salary_hra =salary*20/100 +salary
salary_d = salary_hra*20/100 +salary
print(salary)

enter your salary300
300

4.

In [ ]:

print("intrest calculation")
p = int(input("enter principle :"))
r = float(input("enter rate of intrest :"))
t = int(input("time(in year):"))
si = (p*r*t)/100
print(si)

intrest calculation
enter principle :10000
enter rate of intrest :5
time(in year):2
1000.0

5.

In [ ]:

total_minutes = int(input("enter total minutes:"))
hours = total_minutes //60
minutes = total_minutes % 60
print(f"{hours} hours and {minutes} minutes")

enter total minutes:130
2 hours and 10 minutes

6.

In [ ]:

weight = float(input("Weight (kg): "))
height = float(input("Height (m): "))
bmi = weight / (height ** 2)
print("BMI = {:.2f}".format(bmi))

Weight (kg): 60
Height (m): 1.65
BMI = 22.04

7.

In [ ]:

print("discount calculate")
mrp = int(input(" original price"))
dis = mrp - (mrp*10/100)
print(dis)

discount calculate
 original price1200
1080.0

8.

In [ ]:

a=float(input("enter side a"))
b=float(input("enter side b"))
c=float(input("enter side c"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

enter side a5
enter side b6
enter side c7
14.696938456699069

9.

In [ ]:

print("Paint Cost Estimator")
l = float(input("Enter length of the wall:"))
b = float(input("Enter breadth of the wall:"))
area = l * b
area_w = 2*(1.5 * 1.2)
paint = area - area_w
print(paint,"sq.m")
cost = paint * 25
print(cost)

Paint Cost Estimator
Enter length of the wall:12
Enter breadth of the wall:8
92.4 sq.m
2310.0

10.

In [ ]:

a=float(input("Enter number of units consumed"))
b=(a*5.2)+100
print(b)