<a href="https://colab.research.google.com/github/niyasnasmal8-jpg/ict_assignments/blob/main/assignment03_nasmal_niyas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 3**

1.

In [ ]:
n1 = float(input("enter first number:"))
n2 = float(input("enter second number:"))
n3 = float(input("enter third number:"))
l = max(n1,n2,n3)
print(l,"is the largest number given ")

enter first number:5
enter second number:8
enter third number:2
8.0 is the largest number given

2.

In [8]:
def sum(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [9]:
sum([2,6,8,10])

26

3.

In [11]:
numbers = [10, 20, 30, 40, 50]
print("Original list:", numbers)
num = int(input("Enter the number to insert: "))
pos = int(input("Enter the position (index) to insert at: "))
numbers.insert(pos, num)

print("Updated list:", numbers)

Original list: [10, 20, 30, 40, 50]
Enter the number to insert: 23
Enter the position (index) to insert at: 1
Updated list: [10, 23, 20, 30, 40, 50]

4.

In [16]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict["location"] = sample_dict.pop("city")
print("Updated dictionary:", sample_dict)

Updated dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

5.

In [14]:
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

# Update Brad's salary
sample_dict['emp3']['salary'] = 8500

# Print the updated dictionary
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

6.

In [17]:
tuple1 = (11, 22, 33, 44, 55, 66)

# Extract elements 44 and 55
element1 = tuple1[3] # 44 is at index 3
element2 = tuple1[4] # 55 is at index 4

# Create a new tuple with these elements
new_tuple = (element1, element2)

print(f"Original tuple: {tuple1}")
print(f"New tuple with elements 44 and 55: {new_tuple}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

7.

In [18]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)

# Count the number of occurrences of item 50
count_of_50 = tuple1.count(50)

print(f"Original tuple: {tuple1}")
print(f"Number of occurrences of 50: {count_of_50}")

Original tuple: (50, 10, 60, 70, 50, 83, 567, 50, 81)
Number of occurrences of 50: 3